.classify-enter {
  width: 335upx !important;
  background-image: url('https://i.loli.net/2021/08/19/ZzYhUWuI1jbHRXT.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.classify-list {
  width: 335upx !important;
  background-image: url('https://i.loli.net/2021/08/19/WNqJ7go1dSKDv49.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.user-enter {
  width: 335upx !important;
  background-image: url('https://i.loli.net/2021/08/19/EwQVn5uJq1zZgi9.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.user-list {
  width: 335upx !important;
  background-image: url('https://i.loli.net/2021/08/19/6mUpkKAMxqWIRX9.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.text-eee {
  color: #eee;
}
