.list-cell {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 24rpx;
  overflow: hidden;
  color: $u-content-color;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
}
