.gradual-red {
  background-image: linear-gradient(90deg, #ff4f75, #ff9c9d);
  color: #fff;
}

.classify-enter {
  width: 335upx !important;
  padding: 30rpx;
  background-image: url('https://i.loli.net/2021/08/19/yrZfQ1JXEkYawdb.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.classify-list {
  width: 335upx !important;
  padding: 30rpx;
  background-image: url('https://i.loli.net/2021/08/19/bi4GCW7Una6YmTg.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.text-eee {
  color: #eee;
}
